header {
    display: flex;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
}

.menu li {
    height: 30px;

}

.menu a {
    text-decoration: none;
    color: rgb(15, 11, 11);
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 900;
}

.menu a:hover {
    color: rgb(241, 133, 38);
    border-bottom: 1px solid rgb(241, 133, 38);
}

.catalog {
    display: flex;
}

.catalog-item {
    background-color: white;
    width: 250px;
    height: 280px;
    margin: 15px;
    box-sizing: border-box;
    border: 1px solid grey;
}

.catalog-item:hover {
    box-shadow: 0px 0px 10px 0.15px rgba(0, 0, 0, 0.5);
}

.catalog-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    width: 250px;
    height: 280px;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.catalog-item img {
    width: 200px;
    float: left;
}

.product-top {
    display: flex;
    padding: 15px;
}

.product-image {
    margin-right: 20px;
}

.description>img {
    width: 350px;
    outline: 5px outset lightgrey;
}

.description>img:hover {
    outline: none;
}

.product-description {
    position: relative;

}

.buy {
    text-decoration: none;
    display: block;
    height: 35px;
    min-width: 120px;
    color: black;
    font-size: 20px;
    background-color: white;
    text-align: center;
    line-height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px 3px 0.15px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
}

.buy.right {
    width: 200px;
}

.buy.delete {
    margin: 10px auto;
}

.buy:hover {
    background-color: floralwhite;
}

.buy:active {
    box-shadow: 0px 0px 3px 0.15px;
    position: relative;
    top: 2px;
}

table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

thead td {
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
    height: 60px;
}


td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

td:first-child {
    border-left: 2px solid #56433D;
    text-align: left;
}
